

.style-3 .paragraph {
    font-family: 'Mulish', sans-serif;
    line-height: 1.38;
}

.style-3 .heading {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.13;
}
        