

.style-7 .paragraph {
    font-family: 'Quattrocento', serif;
    line-height: 1.38;
}

.style-7 .heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1.02;
}
     