

.style-10 .paragraph {
    font-family: 'Sintony', sans-serif;
    line-height: 1.57;
}

.style-10 .heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    line-height: 0.96;
}
