

.style-11 .paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.29;
}

.style-11 .heading {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 0.96;
}
    