@import '../font/_Average_+_Istok_Web.css'; 
@import '../font/_Bitter_+_PT_Sans.css'; 
@import '../font/_Mulish_+_Merriweather.css'; 
@import '../font/_Playfair_Display_+_PT_Sans.css'; 
@import '../font/_PT_Sans_+_Nunito.css'; 
@import '../font/_PT_Serif_+_Rufina.css'; 
@import '../font/_Quattrocento_+_Oswald.css'; 
@import '../font/_Raleway_+_Vollkorn.css'; 
@import '../font/_Roboto_Slab_+_Ruda.css'; 
@import '../font/_Sintony_+_Source_Sans_Pro.css'; 
@import '../font/_Source_Sans_Pro_+_Playfair_Display.css';
@import '../font/_Titillium_Web_+_Dosis.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1800px;
}

.prev {
  transform: rotate(315deg)
}

.next {
  transform: rotate(135deg)
}

.arrow {
  border-color: black;
}

.button {
  border: solid black;
}

/* .title-page-underline {
  width: 0; 
  opacity: 0;
}
.title-page-text {
  opacity: 0;
} */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

*:focus-visible {
  outline: none!important;
}

swiper-container::part(pagination) {
  position: relative;
  margin-top: 1rem;
}
swiper-container::part(bullet) {
  background-color: black; 
}
swiper-container::part(bullet-active) {
  background-color: black; 
  opacity: .7;
}

swiper-container::part(pagination) {
  text-align: start;
}

.ptr--ptr * {
  display: none !important;
}

.ptr--ptr {
  box-shadow: none!important;
}

.s-key {
  background-color: #eeeeee52;
  border-radius: 3px;
  border: 1px solid #b4b4b489;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.2) inset;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: monospace;
  transform: scale(.85);
}

br {
  display: block;
}

@media screen and (max-width: 767px) {
br {
  display: none;
}
}
